@inject IConfiguration _configuration
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<NewsModel>

@if (Model != null)
{
    @foreach (var item in Model)
    {
        <div class="col mb-5">
            <a asp-controller="News" asp-action="Item" asp-route-slugurl="@item.SlugUrl" asp-route-productid="@item.Id" class="mahsullar-card">
                <div class="mahsullar-body">
                    <div class="mahsullar-card-image">
                        <img src="@await Component.InvokeAsync("Image", new { FileCode = item.FileCode  })" alt="">
                    </div>
                    <p class="mahsul-name">@item.Title</p>
                </div>
                <span class="mahsul-arrow">
                    <i class="bi bi-chevron-right"></i>
                </span>
            </a>
        </div>
    }
}
