
@{
    ViewData["Title"] = "Index";
}

<div class="container-xl px-4 mt-5">
    <div class="d-flex justify-content-between align-items-sm-center flex-column flex-sm-row mb-4">
        <div class="me-4 mb-3 mb-sm-0">
            <h1 class="mb-0">Home Page</h1>
            <div class="small">
                <span class="fw-500 text-primary">@DateTime.Now.ToString("dddd")</span>
                & @DateTime.Now.ToString("MMMM dd, yyyy") & @DateTime.Now.ToShortTimeString()
            </div>
        </div>
    </div>

    <div class="card card-waves mb-4 mt-5">
        <div class="card-body p-5">
            <div class="row align-items-center justify-content-between">
                <div class="col">
                    <h2 class="text-primary"></h2>
                    <p class="text-gray-700">

                    </p>
                    <a class="btn btn-primary p-3" href="#!">
                       
                        <i class="ms-1" data-feather="arrow-right"></i>
                    </a>
                </div>
                <div class="col d-none d-lg-block mt-xxl-n4"><img class="img-fluid px-xl-4 mt-xxl-n5" src="~/assets-cms/img/illustrations/statistics.svg" /></div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/litepicker/dist/bundle.js" crossorigin="anonymous"></script>
    <script src="~/assets-cms/js/litepicker.js"></script>
}